.menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    z-index: 1000;
    visibility: hidden;

    .inner-menu {
        display: none;
    }

    &.menu--active {
        transform: translateX(0);
        visibility: visible;

        .inner-menu {
            display: block;

            &.inner_menu--active {
                transition: .5s ease;
                transform: translateX(100vw);
            }
        }
    }
}

.hamburger-button {
    svg {
        &:first-of-type {
            display: block;
        }

        &:last-of-type {
            display: none;
        }
    }

    &.button-hamburger--active {
        svg {
            &:first-of-type {
                display: none;
            }

            &:last-of-type {
                display: block;
            }
        }
    }
}